.CityList {
    resize: none;
}

.List {
    overflow-y: scroll;
    height: 30rem;
    box-shadow: 0px 0px 20px 0px var(--global-secondary-color);
    margin-bottom: var(--global-margin-lg);
}

.CityRow {
    display: flex;
    justify-content: space-between;
    margin: var(--global-margin-md);
    background: var(--global-secondary-color);
}

.CityRow > * {

    margin: var(--global-margin-lg)
}

.CityRow > h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CityRow .ClickableIcon {
    color: var(--global-extras-color);
    cursor: pointer;
}

.ClickableIcon:active {
    opacity: 0.8;
}