.LabelWithInput {
    display: flex;
    align-items: center;
}

.LabelWithInput .Input {
    padding-left: var(--global-padding-sm);
    padding-right: var(--global-padding-sm);
    margin-left: var(--global-margin-sm);
}