.SearchForm {
    display: flex;
    flex-direction: column;
    margin: var(--global-margin-sm);
    margin-right: var(--global-margin-lg);
    max-width: var(--mobile-screen-max-width);
}

.SearchForm .Form {
    display: flex;
    flex-wrap: wrap;
}
