.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border: 1px solid;
    border-width: 1px 1px 3px;
    margin: var(--global-margin-sm);
}

.Warning {
    background:#dc3545;
    border-color: #dc3545;
}

.Info {
    border-color: var(--global-extras-border-color);
    background: var(--global-extras-color);
}

.Button:disabled {
    cursor: default;
    opacity: 0.3;
}

.Button:active:not([disabled]) {
    opacity: 0.8;
}

.Icon {
    margin-right: 5px;
}
