.App {
    display: flex;
    align-items: flex-start;
    flex: 3;
    justify-content: space-around;
    flex-direction: row;
    margin: var(--global-margin-lg)
}

.SearchForm {
    flex: 1;
    text-align: center;
}

.MapPlaceholder {
    flex: 2;
    text-align: center;
}
